<div class='row'>
  <div class='col-lg-12'>
    <div class="container">
      <div class="row">
        <h2><%= chart_data[:display_title] || chart_data[:title] %></h2>
      </div>
      <div class="row">
        <div class='chart'>
          <canvas id="myChart<%= chart_data[:var_key] %>" width="<%= chart_data[:width]%>" height="<%= chart_data[:height] %>" class='content'></canvas>
        </div>
        <div class='overlay'>
          <canvas id="myOverlay<%= chart_data[:var_key] %>" width="<%= chart_data[:width] %>" height="<%= chart_data[:height] %>"></canvas>
        </div>
        <div class='legend'>
          <canvas id="legend<%= chart_data[:var_key] %>" width="<%= chart_data[:width]%>" height="<%= chart_data[:height] %>"></canvas>
        </div>
        <div class='ticks'>
          <canvas id="myTicks<%= chart_data[:var_key]  %>" width="<%= chart_data[:width] %>" height="<%= chart_data[:height]%>"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
